<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script type="text/javascript">
    $(function(){
        $('a#delete').on('click', function(e){
           e.preventDefault()
            $.getJSON('/delete_user',
                function(data) {
              //do nothing
            });
            return false;
          });
        });
</script>

//button
<div class='container'>

        <form>
             <p><label for="user">Ім'я</label></p>
              <p><input name="user" id="user" required></p>
              <a href=# id=delete><button class='btn btn-default'>DELETE</button></a>
        </form>

</div>-->